.container{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.container div{
    margin-top:5px;
}

/*.bttnStyle {
    padding: 2px 6px;
    background-color: #AA8B56;
    border-radius: 3px;
    color: white;
}*/


.headerstyle {
    color: #FFFFFF;
    border-right-color: #abb079;
    border-bottom-color: #abb079;
    background-color: #4E6C50;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}

.box-size{
    width:130px;
}

.imageStyle{
    width:30px;
}
.add-bttn{
    background-color:#7FB414;
    color:white;
    border-radius:5px;
    width:240px;
}
.end-container{
    width:100%;
    display:flex;
    justify-content:end;
}
.end-container div{
    margin-right:30px;
}

.export-bttn {
    background-color: #4E6C50;
    color: white;
    border-radius: 5px;
    width: 150px;
}